.Fabook{
    font-size: 3.5em;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 1.7px black;
}

.margen{
    margin-left: 11em;
    margin-right: 11em;
}

.inciption{
    font-size: 1.5em;
    letter-spacing: 1.5px;
    font-weight: 700;
}